.area {
    /* background-color: red; */
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: #B1D4E030;
    /* padding-bottom: 5vh; */
}


.content {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    justify-content: center;
    width: 90vw;
    min-height: 300px;
}

.content .main {
    font-weight: 500;
    margin-bottom: 0;
    color: #0C2D48;
    
}

.content .character {
    color: rgb(27, 44, 36);
    font-weight: 800;
    font-size: 18px;
    color: #0C2D48;
}

.content .desc {
    margin-top: 1vh;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 900px) {
    .content .desc {
        font-size: 14px;
    }
}