.area {
    /* background-color: red; */
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: #B1D4E030;
    /* padding-bottom: 5vh; */
}


.content {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    justify-content: center;
    width: 70vw;
    min-height: 300px;
}

.content .main {
    font-weight: 500;
    margin-bottom: 0;
}

.content .character {
    color: rgb(27, 44, 36);
    font-weight: 800;
    font-size: 12px;
}

.content .desc {
    margin-top: 1vh;
    font-size: 12px;
}