.navbar {
    background-color: #03396c;
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    color: white;
    font-size: 50px;
    font-weight: 100;
    padding-left: 50px;
}

#open .logo {
    display: none;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: horizontal;
    height: 100%;
    width: 50%;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
}

#open {
    height: 100vh;
    width: 70vw;
    margin-left: 30vw;
}

#open .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#open .links a {
    padding-bottom: 40px;
}

.toggleButton {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.toggleButton button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.toggleButton svg {
    font-size: 50px;
    height: 100%;
}

#open .toggleButton {
    display: none;
}

@media screen and (min-width: 600px) {
    #close .toggleButton {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #close .links {
        display: none;
    }
}