.project_card {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 160px;
    height: 220px;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #2E8BC015;
    margin: 1vw;
    transition: 0.5s;
}

div.project_card:hover {
    scale: 1.05;
}

.project_card .text_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

.project_card .look {
    /* margin-top: 1vh; */
    margin-bottom: 1vh;
    font-size: 12px;
    font-weight: 300;
    width: 95%;
    background-color: #2E8BC0;
    border: none;
    padding: 3px;
    color: white;
    border-radius: 3px;
}

.project_card button.look:hover {
    background-color: #2E8BC095;
}

.project_card .desc {
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 90%;
    /* display: none; */
}



.project_card div.desc:hover {
    opacity: 1;
}



.project_card .card_image {
    width: 96%;
    height: 55%;
    position: absolute;
    top: 1%;
    object-fit: cover;
    object-position: top;
    border-radius: 0.5em;
    /* aspect-ratio: '3/2'; */
}